.row{
    width: 1000px;
    height: 150px;
    margin: auto;
    background: black;
}
.clock, .col-sm-2{
    width: 100px;
    height: 100px;
    background: #969696;
    color: white;
    font-size: 300%;
    text-align: center;
    padding: 1%;
    margin: auto;
    border: 2px solid #cacaca;
    border-radius: 5px;
}