.row{
    background: black;
    width: 101.8%;
    height: 100px;
    padding: 10px;
}
.clock{
    background: #292929;
    width: 100px;
    height: 80px;
    color: white;
}
.far{
    margin: auto;
    font-size: 300%;
    align-self: center;
}